.book-description {
    width: 60%;
    float: left;
    flex: 1;
}

.book-title {
    height: 12%;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 2vw;
    background-color: rgb(199, 196, 196);
    font-weight: bold;
}

.book-cover {
    float: left;
    width: 35%;
    padding-left: 5%;
    z-index: 1;
}

#book-cover-img {
    width: 100%;
}

.book-title::before {
    content: attr(data-title);
    font-size: 3.2vw;
    color: black;
    opacity: .05;
    font-weight: 900;
    position: absolute;
    white-space: nowrap;
    transform: translate(0%, -10%);
    z-index: 0;
}

.content {
    overflow: hidden;
}

.box {
    width: 10%;
    min-width: 200px;
    display: flex;
    border-radius: 15px;
    box-shadow: 2px 5px 24px 0 rgba(66, 68, 90, 1);
    gap: 15px;
    flex-direction: column;
    margin-top: 20px;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
}

.box .rating {
    font-size: 1rem;
    display: flex;
    gap: 5px;
    align-items: center;
}

.author {
    font-size: 1rem;
    gap: 5px;
    display: flex;
    align-items: center;
}

.rating img, .author img {
    height: 20px;
    width: 20px;
}

.left img {
    height: 350px;
    object-fit: cover;
    width: 200px;
    border-radius: 15px;
}

.wrapper {
    display: flex;
    width: 100%;
}

.recomendations-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
}

@media (max-width: 800px) {
    .wrapper {
        flex-direction: column-reverse;
    }

    .book-description, .book-cover {
        width: 100%;
    }

    .book-cover {
        padding: 15px;
    }
}