<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragment/general.html :: headerFragment" th:remove="tag"></div>
        <link th:href="@{/css/books/book-overview.css}" rel="stylesheet">
        <title>BookShelf | Opis książki</title>
    </head>
    <body>
        <div class="container mt-2">
            <div th:replace="fragment/general.html :: navigation-bar" id="navigation"></div>

            <div class="content mt-4 rounded">
                <div class="book-description">
                    <div class="book-title" data-title="Title of the book">
                        <h1>Title of the book</h1>
                    </div>
                </div>
                <div class="book-cover">
                    <img id="book-cover-img" src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1170803558l/72193.jpg" alt="Alternative text">
                </div>
            </div>

        </div>
    </body>
</html>