<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragment/general.html :: headerFragment" th:remove="tag"></div>
        <link th:href="@{/css/books/book-overview.css}" rel="stylesheet">
        <title>BookShelf | Opis książki</title>
    </head>
    <body>
        <div class="container mt-2">
            <div th:replace="fragment/general.html :: navigation-bar" id="navigation"></div>

            <div class="content mt-4 rounded">
                <div class="book-description">
                    <div class="rounded book-title" th:data-title="${book.getTitle()}">
                        <h1 th:text="${book.getTitle()}"></h1>
                    </div>
                    <div class="book-authors">
                        Author / Authors: <p th:text="${book.authors}"></p>
                    </div>
                    <div class="book-published-date">
                        Release date: <p th:text="${book.publishedDate}"></p>
                    </div>
                    <div class="book-page-count">
                        Number of pages: <p th:text="${book.pageCount}"></p>
                    </div>
                    <div class="book-language">
                        Language: <p th:text="${book.language}"></p>
                    </div>
                    <div class="book-description-text">
                        Description: <p th:text="${book.description}"></p>
                    </div>
                </div>
                <div class="book-cover">
                    <img id="book-cover-img" th:src="${book.getThumbnail()}" alt="Alternative text">
                </div>
            </div>

        </div>
    </body>
</html>