<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragment/general.html :: headerFragment" th:remove="tag"></div>
        <title>BookShelf | Edit profile</title>
    </head>
    <body>
        <div class="container mt-2">
            <div th:replace="fragment/general.html :: navigation-bar" id="navigation"></div>

            <div class="content mt-4 rounded">
                <div th:if="${errorMessage != null}" class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
                    <strong th:text="${errorMessage}"></strong>
                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                </div>

                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-lg-12 col-xl-11">
                            <div class="card text-black" style="border: none;">
                                <div class="card-body p-md-5">
                                    <div class="row justify-content-center">
                                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-1"
                                               style="background-color: #b8daf2;">Edit your profile</p>

                                            <form method="post" th:action="@{/profile/edit/name}" class="mx-1 mx-md-4">
                                                <div class="d-flex flex-row align-items-center mb-4">
                                                    <div class="form-outline flex-fill mb-0">
                                                        <label class="form-label"
                                                               for="formFieldUsername">Username</label>
                                                        <input type="text" id="formFieldUsername" class="form-control"
                                                               th:placeholder="${user.getUsername()}"
                                                               name="username" required/>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                                            data-target="#userNameModal">
                                                        Change username
                                                    </button>
                                                </div>
                                                <!-- Modal -->
                                                <div class="modal fade" id="userNameModal" tabindex="-1" role="dialog"
                                                     aria-labelledby="userNameModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="userNameModalLabel">Confirm changing your username</h5>
                                                                <button type="button" class="btn-close"
                                                                        data-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Back to edit
                                                                </button>
                                                                <input type="submit" value="Save"
                                                                       class="btn btn-primary btn-lg">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>

                                            <form method="post" th:action="@{/profile/edit/password}" class="mx-1 mx-md-4">
                                                <div class="d-flex flex-row align-items-center mb-4">
                                                    <div class="form-outline flex-fill mb-0">
                                                        <label class="form-label"
                                                               for="formFieldPassword">Password</label>
                                                        <input type="password" id="formFieldPassword" class="form-control"
                                                               placeholder="Password"
                                                               name="new-password" required/>
                                                        <label class="form-label mt-3"
                                                               for="repeatPassword">Repeat password</label>
                                                        <input type="password" id="repeatPassword" class="form-control"
                                                               placeholder="Repeat password"
                                                               name="repeat-password" required/>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                                            data-target="#passwordModal">
                                                        Change password
                                                    </button>
                                                </div>
                                                <!-- Modal -->
                                                <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog"
                                                     aria-labelledby="userNameModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="passwordModalLabel">Provide your old password to save your changes</h5>
                                                                <button type="button" class="btn-close"
                                                                        data-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                            </div>
                                                            <div class="form-outline flex-fill m-2">
                                                                <input type="password" id="formFieldOldPassword" class="form-control"
                                                                       name="old-password" placeholder="Old password"/>
                                                                <label class="form-label sr-only"
                                                                       for="formFieldOldPassword">Old password</label>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Back to edit
                                                                </button>
                                                                <input type="submit" value="Save"
                                                                       class="btn btn-primary btn-lg">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                        <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                            <img th:src="@{/images/book-shelf-logo/png/logo-no-background.png}"
                                                 class="img-fluid" alt="Luximed logo">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>